*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}

body{    
    width: 100vw;
    height: 100vh;
}

h1{
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    color: rgb(0,200,200);
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}

h1:hover {
    transform: scale(1.1);
    text-shadow: 1px 1px 1px black;
}

.edit:hover , .garbage:hover{
    transform: scale(1.5);
}

.todos {
    box-shadow: 6px 6px 10px 1px gray , 6px 6px 10px 3px gray ;  
    display: block;
    background: rgb(0,200,200);
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 0px;
}


.row {
    margin-bottom: 1em;
}

.addtodo {
    display: flex;
    justify-content: center
}

.addbtn {
    display: flex;
    position: relative;
    justify-content: center;
}

.addbtn img{
    height: 50%;
    position: absolute;
    top : -.7em;
    left: -.7em;
}

.list-group-item:hover{
    background:lightgray;    
}

.list-group-item >a {
    text-decoration: none;
}

.list-group-item img {
    width: 20px;    
}

.list-group-item {
    display: flex;
    align-items: center;
}

.list-group-item > a {
    flex-grow: 1;
}

.edit{
    margin-right: 2em;
    padding: .3em;
}
