@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* 
body{
    background: rgba(15,52,67,1);
    background: linear-gradient(to bottom left, rgba(15,52,67,1) 26%, rgba(15,52,67,1) 66%, rgba(15,52,67,1) 75%, rgba(210,255,82,1) 75%);
    width: 100vw;
    height: 100vh;
} */

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 3em;
    text-align: center;
    color: rgb(0, 200, 200);
    text-shadow: 1px 1px 1px black;
    text-decoration: underline;
}


.edit:hover,
.garbage:hover {
    transform: scale(1.5);
    cursor : pointer;
}

.status:hover{
    transform: scale(1.1);
    cursor: pointer;
}


.todos {
    -webkit-box-shadow: 16px 20px 28px -3px #757575;
    box-shadow: 16px 20px 28px -3px #757575;
    display: block;
    background: rgb(0, 200, 200);
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 0px;
}


.row {
    margin-bottom: 1em;
}

.addtodo {
    display: flex;
    justify-content: center
}

.addbtn {
    display: flex;
    position: relative;
    justify-content: center;
}

.addbtn img {
    height: 50%;
    position: absolute;
    top: -.7em;
    left: -.7em;
}

.list-group-item:hover {
    background: lightgray;
}

.list-group-item>a {
    text-decoration: none;
}

.list-group-item img {
    width: 20px;
}

.list-group-item {
    display: flex;
    align-items: center;
}

.list-group-item .title {
    flex-grow: 1;
    /* border:3px solid red; */
}

small {
    font-weight: 800;
    margin-right: 1em;
    margin-left: 2em;
    align-self: flex-end;
    color: blue;
    /* border: 3px solid red; */
}

small:hover{
    text-decoration: underline;
}

.edit {
    margin-right: 2em;
    padding: .3em;
}

.bottom-right-side {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottom-right-side img {
    width: 20px;
}

